input{
    height: 4vh;
}

input::placeholder{
    padding-left: 5px;
}

label {
  margin-bottom: 0px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1px; 
}

button{
    width:131px;
    justify-items: right;
    height:39px;
    justify-content: right;
}

.buttonContainer{
    width:50vw;
}