body {
    background-color: #0E213C;
    color: white;
    margin: 0px;
    /* Positionnement bouton "+ creer unquizz"*/
    position: relative; 
    min-height: 80vh; 
}

main {
    width: 100%;
    margin: 0 auto;
    font-family: 'poppins', sans-serif;
}


/* flexbox écrans larges*/
.accueil {
    margin: 50px;
    width: 90%; /*occupe une grande partie de l'écran - a voir/possible modif avec header et footer?*/
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
}

/* div du titre et des filtres */
.colonne-themes {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h2 {
    font-size: 32px;
    margin-bottom: 0px;
    padding-left: 5px; /* décalé avec le padding du .filtre */
}


/* liste des thèmes */
.filtre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 400px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

label span {
    font-size: 18px;
}


/* Checkbox */
input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #FD9222;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: black;
    font-size: 25px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* bouton "lancer le quizz"*/
.lancer-quizz {
    width: 400px; 
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.lancer-btn-img {
    display: block; 
    line-height: 0; 
    text-decoration: none;
}

.lancer-btn-img img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

.lancer-btn-img:hover img {
    transform: scale(1.05);
}


/* bouton "+ creer un quizz"*/
.bouton-creer-quizz {
    color: white; 
    text-decoration: none; 
    font-size: 15px;
    margin-top: 20px;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s;
    
}

.bouton-creer-quizz:hover {
    color: #FD9222; 
}

.plus-sign {
    font-size: 24px;
    margin-right: 5px;
    color: #FD9222; 
}


/* reponsive: media query pour petits écrans*/
@media (max-width: 768px) { 

    /* colonne vertical et le centrage du contenu sur petit écran*/
    .accueil {
        flex-direction: column; 
        align-items: center; 
        margin: 20px auto;
        width: 100%;
    }
    
    /* réduit et centre le bouton de quiz */
    .lancer-quizz {
        width: 80vw; 
        height: 80vw; 
        max-width: 200px; 
        max-height: 200px;
        margin-top: 10px; 
    }
    
    .colonne-themes {
        width: 100%;
        align-items: center;
    }
    
    h2 {
        padding-left: 0; /* suppr du padding sur petit écran */
    }
    
    .filtre {
        margin: 0 auto;
        padding: 10px;
    }
}