/* background*/

.BGYellow {
    background-color: #FDBF16;
}

.BGBlue {
    background-color: #10305D;
}

.BGLightBlue {
    background-color: #2E7CF0;
}

.BGOrange {
    background-color: #FD9222;
}

/*text*/

.yellow {
    color: #FDBF16;
}

.blue {
    color: #10305D;
}

.lightBlue {
    color: #2E7CF0;
}

.orange {
    color: #FD9222;
}
/* font*/
.rubik {
    font-family: "Rubik";
}

/*divers et varié centrage */
.margin10 {
    margin:10%;
}
.margin20 {
    margin:20%;
}
.margin30{
    margin:30%;
}

/* Centrage avec Flexbox */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

/* Alignement de texte */
.left {
    text-align: left;
    padding: 10px;
}


.right {
    text-align: right;
    padding: 10px;
}
/*conteneur*/
.flex{
    display: flex;
}

.grid{
    display:grid;
}

.block{
    display:block;
}

.none{
    display:none;
}

/* a mettre dans un conteneur flex*/
.space-between{
    align-content: space-between;
}

.space-around{
    align-content:space-around;
}


/* pour séparer des vignettes*/
.separate{
    gap:15px;
}