/* background*/

.BGYellow {
    background-color: #FDBF16;
}

.BGBlue {
    background-color: #0E213C;
}

.BGMediumBlue {
    background-color: #10305D;
}

.BGLightBlue {
    background-color: #2E7CF0;
}

.BGOrange {
    background-color: #FD9222;
}

/*text*/

.yellow {
    color: #FDBF16;
}

.blue {
    color: #10305D;
}

.lightBlue {
    color: #2E7CF0;
}

.orange {
    color: #FD9222;
}

.white {
    color: #fffffe;
}

/* font*/

h1 {
    font-size: 48;
}

.size8 {
    font-size: 8px;
}

.size10 {
    font-size: 10px;
}

.size12 {
    font-size: 12px;
}

.size24 {
    font-size: 24px;
}

.size36 {
    font-size: 36px;
}

.size48 {
    font-size: 48px;
}

.rubik {
    font-family: "Rubik";
}


/*divers et varié centrage */
.margin0 {
    margin: 0;
    padding: 0;
}

.margin1 {
    margin: 1vw;
}

.margin10 {
    margin: 10%;
}

.margin20 {
    margin: 20%;
}

.margin30 {
    margin: 30%;
}
.marginRight2 {
    margin-right: 2%;
}
.marginRight10 {
    margin-right: 10%;
}
.marginRight90 {
    margin-right: 90%;
}

.marginRight85 {
    margin-right: 85%;
}

.marginTop-5 {
    margin-top: -5px;
}

.marginTop-10 {
    margin-top: -10px;
}

.margin1Left {
    margin-left: 1vw;
}

.margin2Left {
    margin-left: 2vw;
}

/* Flexbox */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

/* Alignement de texte */

.left {
    text-align: left;
    padding: 10px;
}


.right {
    text-align: right;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

/*conteneur*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.none {
    display: none;
}

/* a mettre dans un conteneur flex*/
.space-between {
    justify-content: space-between;
    align-content: space-between;
}

.space-around {
    justify-content: space-around;
    align-content: space-around;
}


/* pour séparer des vignettes*/
.separate {
    gap: 15px;
}

/*taille par défaut*/

.carre20vw {
    width: 20vw;
    height: 20vw;
}

.carre40vw {
    width: 40vw;
    height: 40vw;
}

.carre60vw {
    width: 60vw;
    height: 60vw;
}

.carre80vw {
    width: 80vw;
    height: 80vw;
}

.rectangle20 {
    width: 20vw;
    height: 40vw;
}

.rectangle30 {
    width: 30vw;
    height: 60vw;
}

.rectangle40 {
    width: 40vw;
    height: 60vw;
}

.rectangle50 {
    width: 50vw;
    height: 70vw;
}

.t10 {
    width: 10%;
}

.t15 {
    width: 15%;
}

.t30 {
    width: 30%;
}

.t50 {
    width: 50.01%;
}

.t60 {
    width: 60%;
}

.t70 {
    width: 70%;
}

.t90 {
    width: 90%;
}

.t100 {
    width: 100%;
}

.h90vh {
    height: 90vh;
}

.h100vh {
    height: 100vh;
}