/* background*/

.BGYellow {
    background-color: #FDBF16;
}

.BGBlue {
    background-color: #10305D;
}

.BGLightBlue {
    background-color: #2E7CF0;
}

.BGOrange {
    background-color: #FD9222;
}

/*text*/

.yellow {
    color: #FDBF16;
}

.blue {
    color: #10305D;
}

.lightBlue {
    color: #2E7CF0;
}

.orange {
    color: #FD9222;
}

.white {
    color: #fffffe;
}

/* font*/

h1 {
    font-size: 48;
}

.size8 {
    font-size: 8px;
}

.size12 {
    font-size: 12px;
}

.size24 {
    font-size: 24px;
}

.size36 {
    font-size: 36px;
}

.size48 {
    font-size: 48px;
}

.rubik {
    font-family: "Rubik";
}


/*divers et varié centrage */
.margin1 {
    margin: 1vw;
}

.margin10 {
    margin: 10%;
}

.margin20 {
    margin: 20%;
}

.margin30 {
    margin: 30%;
}

/* Centrage avec Flexbox */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

/* Alignement de texte */
.left {
    text-align: left;
    padding: 10px;
}


.right {
    text-align: right;
    padding: 10px;
}

/*conteneur*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.none {
    display: none;
}

/* a mettre dans un conteneur flex*/
.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}


/* pour séparer des vignettes*/
.separate {
    gap: 15px;
}

/*taille par défaut*/

.carre20vw {
    width: 20vw;
    height: 20vw;
}

.carre40vw {
    width: 40vw;
    height: 40vw;
}

.carre60vw {
    width: 60vw;
    height: 60vw;
}

.carre80vw {
    width: 80vw;
    height: 80vw;
}

.rectangle20 {
    width: 20vw;
    height: 40vw;
}

.rectangle30 {
    width: 30vw;
    height: 60vw;
}

.rectangle40 {
    width: 40vw;
    height: 60vw;
}